/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * 下面是许多研究的结果在跨浏览器的样式。
 * 熊猫旅行的主要样式表文件
 * 作者Geek.Yu 在2017-03-20 20:30:00 创建了它
 */

/* ==========================================================================
   基础样式
   ========================================================================== */

html {
    font-family: Arial,'Microsoft Yahei';
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*
 * 这些选择规则集必须分开。
 * 根据设计图及总风格自定义选中的背景颜色。
 */

::-moz-selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

::selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

/*
 * 美化水平分割线
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * 美化字体间隔
 */

.spacing-tiny {
    text-indent: .03em;
    letter-spacing: .03em;
}
.spacing-small {
    text-indent: .1em;
    letter-spacing: .1em;
}
.spacing-medium {
    text-indent: .3em;
    letter-spacing: .3em;
}
.spacing-large {
    text-indent: .8em;
    letter-spacing: .8em;
}

/*
 * 对齐及浮动
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.top,
.left,
.bottom,
.right{
    position: absolute;
} 
.top{
    top: 0;
}
.left{
    left: 0;
}
.bottom{
    left: 0;
}
.right{
    right: 0;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

/*
 * 内联a标签填充
 */
.tap-link{
    display: inline-block;
}

/*
 * 调整以下元素使他们之间的差距减小，
 * audio、canvas、iframes、images、videos和底部的容器。
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * 删除默认控件组风格。
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * 只允许垂直方向的textarea的调整。
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   浏览器升级提示 的样式
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   熊猫旅行网站的主要样式
   ========================================================================== */

html {
    display: block;
    font-size: 12px;
    color: 333;
}

body {
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    display: block;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.w1200-box{
    position: relative;
    width: 100%;
}
.w1200{
    min-width: 1200px;
    width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#main-content{
    display: block;
}

.main-panel{
    display: block;
}

.header-panel{

}

.header-top{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 12px;
}
.top-login{
    display: block;
    color: #666;
}
.top-login > *{
    display: inline-block;
    margin-right: 18px;
}
.link-login a{
    margin-right: 12px;
}
.sentence{
    color: #aaa;
    cursor: default;
}
.link-login{
    display: inline-block;
    margin-right: 15px;
}

.header-main{
    display: block;
    height: 144px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #349039;
}


.content-panel{

}

.footer-panel{

}








/* ==========================================================================
   辅助类
   ========================================================================== */

/*
 * 在视觉上和屏幕阅读器中隐藏元素
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

