/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * 下面是许多研究的结果在跨浏览器的样式。
 * 熊猫旅行的主要样式表文件
 * 作者Geek.Yu 在2017-03-20 20:30:00 创建了它
 */

/* ==========================================================================
   基础样式
   ========================================================================== */

html {
    font-family: Arial,'Microsoft Yahei';
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*
 * 这些选择规则集必须分开。
 * 根据设计图及总风格自定义选中的背景颜色。
 */

::-moz-selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

::selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

/*
 * 美化水平分割线
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * 美化字体间隔
 */

.spacing-tiny {
    text-indent: .03em;
    letter-spacing: .03em;
}
.spacing-small {
    text-indent: .1em;
    letter-spacing: .1em;
}
.spacing-medium {
    text-indent: .3em;
    letter-spacing: .3em;
}
.spacing-large {
    text-indent: .8em;
    letter-spacing: .8em;
}

/*字体图标*/
.icon-tiny {
    font-size: 14px;
}
.icon-small {
    font-size: 19px;
}
.icon-medium {
    font-size: 22px;
}
.icon-large {
    font-size: 28px;
}

/*
 * 对齐及浮动
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.top,
.left,
.bottom,
.right{
    position: absolute;
} 
.top{
    top: 0;
}
.left{
    left: 0;
}
.bottom{
    left: 0;
}
.right{
    right: 0;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

/*
 * 内联a标签填充
 */
.tap-link{
    display: inline-block;
}

/*
 * 垂直布局 和 完全居中布局
 */
.vertical-layout{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.complete-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*
 * 禁止用户选中文字
 */
.user-unselect{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

/*
 * 调整以下元素使他们之间的差距减小，
 * audio、canvas、iframes、images、videos和底部的容器。
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * 删除默认控件组风格。
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * 只允许垂直方向的textarea的调整。
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   浏览器升级提示 的样式
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #313536;
    padding: 0.2em 0;
}

/* ==========================================================================
   熊猫旅行网站的主要样式
   ========================================================================== */

html {
    display: block;
    font-size: 12px;
    color: #313536;
}

body {
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    display: block;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    display: block;
}
button{
    cursor: pointer;
}
button,input{ 
    outline: none; 
}
ul,li{
    margin: 0; 
    padding: 0; 
    list-style: none;
}

em,i{
    font-style: normal;
}

.w1200-box{
    position: relative;
    width: 100%;
}
.w1200{
    min-width: 1200px;
    width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#main-content{
    display: block;
}

.main-panel{
    display: block;
}

.header-panel{
    display: block;
}

/*顶部信息*/
.header-top{
    font-family: "宋体",Arial,'Microsoft Yahei';
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 12px;
}
.top-login,
.top-support{
    display: block;
    color: #777;
    letter-spacing: .1em;
    text-indent: .1em;
    font-size: 13px;
    cursor: default;
}
.top-login > *{
    display: inline-block;
    margin-right: 12px;
}
.link-login a{
    margin-right: 12px;
}
.sentence{
    color: #a5a5a5;
    cursor: default;
}
.link-login{
    display: inline-block;
    margin-right: 12px;
}
.link-support a{
    margin-left: 8px;
}
.link-support i{
    color: #a5a5a5;
}
.link-support i[data-icon='phone']{
    display: inline-block;
    color: #349039;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    transform: translateY(1px);
}

/*顶部主要内容*/
.header-main{
    display: block;
    height: 144px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #349039;
}

/*头部容器*/
.head-wrap{
    height: 100px;
    position: relative;
}
.logo-wrap{
    width: 250px;
    height: 88px;
}
.logo-wrap img{
    width: 100%;
    height: 100%;
}

/*顶部搜索条*/
.head-search{
    width: 460px;
    height: 38px;
    border: 1px solid #313536;
    color: #313536;
}
.head-search .dropdown-menu{
    width: 88px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    padding-left: 5px; 
    cursor: pointer;
}
.head-search .dropdown-menu >*{
    cursor: pointer;
}
.dropdown-menu span{
    font-size: 14px;
}
.dropdown-menu i{
    font-size: 11px;
}

.head-search input[type='text']{
    width: 305px;
    height: 36px;
    line-height: 32px;
    right: 49px;
    border: none;
    padding: 0 12px 0 5px;
    color: #313536;
    font-size: 13px;
}
.head-search button{
    right: 0;
    border: none;
    width: 48px;
    color: #f5f5f5;
    background-color: #313536;
}

/*服务热线*/
.hotline-wrap{
    width: 180px;
    height: 54px;
    right: 0;
    padding-left: 55px;
}
.hotline-wrap img{
    width: 39px;
    height: 39px;
    left: 5px;

}
.hotline-wrap p{
    font-family: "宋体",Arial,'Microsoft Yahei';
    margin-top: 2px;
    line-height: 20px;
    font-size: 13px;
    color: #777;
}
.hotline-wrap em{
    line-height: 30px;
    color: #349039;
    font-size: 26px;
}

/*头部导航区*/
.head-navbar{
    height: 44px;
    position: relative;
}

/*定位信息（所属站点）*/
.head-navbar .orientation{
    width: 250px;
    height: 46px;
    line-height: 46px;
    background-color: #313536;
    color: #f5f5f5;
    text-align: center;
    font-size: 16px;
    margin-bottom: -2px;
    cursor: default;
}
.head-navbar .orientation i{
    font-size: 20px;
    position: relative;
    margin-right: 3px;
    top: 2px;
}
.head-navbar .orientation em{
    font-size: 17px;
}

/*导航条容器*/
.head-navbar .navbar-wrap{
    width: 950px;
    height: 44px;
    line-height: 44px;
    left: 250px;
    padding-left: 15px;
    cursor: default;
}
.head-navbar .navbar-wrap li{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    text-indent: 3px;
    padding: 0 12px;
    position: relative;
}
.head-navbar li.nav-words-2{
    min-width: 58px;
}
.head-navbar li.nav-words-3{
    min-width: 75px;
}
.head-navbar li.nav-words-4{
    min-width: 90px;
}
.head-navbar .navbar-wrap a{
    color: #313536;
}

.head-navbar .navbar-wrap li.active a{
    color: #349039;
}
.head-navbar .navbar-wrap li.active::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid #349039;
    border-left: 4px solid #349039;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: left bottom;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}
.carousel-panel{
    width: 100%;
    height: 426px;
    overflow: hidden;
    position: relative;
}
#index-carousel .swiper-wrapper{
    height: 426px;
}
#index-carousel .swiper-pagination{
    width: 150px;
    position: absolute;
    right: 0;
    left: 1000px;
    bottom: 0;
    margin: 0 auto;
    height: 32px;
    text-align: right;
    cursor: default;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(0,0,0,.30);
    opacity: 1;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(0,0,0,.55);
}
.carousel-panel .nav-func{
    width: 250px;
    height: 426px;
    position: absolute;
    top: 0;
    left: 0;
    right: 950px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    color: #f5f5f5;
}

/*主导航区*/
.nav-func .main-func{
    width: 71px;
    height: 100%;
}
.main-func li{
    width: 71px;
    height: 71px;
    background-color: rgba(49,53,54,.5);
    position: relative;
}
.main-func li.active{
    background-color: transparent;
}
.main-func .tap-link{
    display: block;
    height: 100%;
    text-align: center;
}
.main-func .tap-link i,
.main-func .tap-link em{
    display: block;
    width: 100%;
    position: absolute;
}
.main-func .tap-link i{
    top: 14px;
    font-size: 18px;
}
.main-func .tap-link em{
    bottom: 14px;
    font-size: 12px;
}

/*子导航区*/
.nav-func .child-func{
    width: 149px; 
    height: 100%;
    position: absolute;
    left: 86px;
    top: 0;
}
.child-func .func-item{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.child-func .func-item.active{
    display: block;
}
/*每个func-item的高度保证在61px;*/
.child-func .func-item li{
    width: 100%;
    height: 51px;
    position: relative;
    padding-top: 10px;
    cursor: default;
}
/*除了最后一个，过滤选择器*/
.child-func .func-item li:not(:last-child)::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.45);
    position: absolute;
    bottom: 0;
    left: 0;
}
.child-func .func-item li > *{
    padding: 0 4px;
    cursor: default;
    letter-spacing: .1em;
}
.child-func .func-item h4{
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
}
.child-func .func-item p{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
}
.child-func .func-item a{
    display: inline-block;
    margin-right: 6px;
    letter-spacing: 0.05em;
}

.content-panel{

}

.footer-panel{

}







/* ==========================================================================
   辅助类
   ========================================================================== */

/*
 * 在视觉上和屏幕阅读器中隐藏元素
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

