/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * 下面是许多研究的结果在跨浏览器的样式。
 * 熊猫旅行的主要样式表文件
 * 作者Geek.Yu 在2017-03-20 20:30:00 创建了它
 * email : 1098654043@qq.com
 */

/* ==========================================================================
   基础样式
   ========================================================================== */

html {
    font-family: Arial,'Microsoft Yahei';
    line-height: 1.4;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/*
 * 这些选择规则集必须分开。
 * 根据设计图及总风格自定义选中的背景颜色。
 */

::-moz-selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

::selection {
    background: #7c8;
    color: #666;
    text-shadow: none;
}

/*
 * 美化水平分割线
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * 利用阴影美化盒子box
 */
.content-box-shadow{
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 25px rgba(0,0,0,.08);
    box-shadow: 0 0 25px rgba(0,0,0,.08);
    overflow: hidden;
}

/*
 * 利用阴影美化图片边框
 */
.box-shadow img{  
    position: relative;  
    width:100%;  
    z-index: 2;  
}  

.box-shadow:hover::after{  
    content:"";  
    position: absolute;  
    width: 60%;  
    height: 35%;  
    max-width: 500px;  
    max-height: 80px;  
    z-index:1;  
    -webkit-box-shadow: 0 12px 12px rgba(0,0,0,.5);  
    -moz-box-shadow: 0 12px 12px rgba(0,0,0,.5);  
    box-shadow: 0 12px 12px rgba(0,0,0,.5);  
  
    right:8px;  
    bottom:10px;  
    -webkit-transform:rotate(3deg);  
    -moz-transform:rotate(3deg);  
    -o-transform:rotate(3deg);  
    transform:rotate(3deg);  
}
.box-shadow-1:hover::before, .box-shadow-1:hover::after  
{  
    z-index: 1;  
    position: absolute;  
    content: "";  
    bottom: 32px;  
    left: 6px;  
    width: 50%;  
    max-width:300px;  
    top:85%;  
    -webkit-box-shadow: 0 30px 12px rgba(0,0,0,.5); 
    -moz-box-shadow: 0 30px 12px rgba(0,0,0,.5); 
    box-shadow: 0 30px 12px rgba(0,0,0,.5);  

    -webkit-transform: rotate(-6deg);  
    -moz-transform: rotate(-6deg);  
    -o-transform: rotate(-6deg);  
    transform: rotate(-6deg);  
}  

.box-shadow-2:hover::before, .box-shadow-2:hover::after  
{  
    z-index: 1;  
    position: absolute;  
    content: "";  
    bottom: 32px;  
    left: 8px;  
    width: 50%;  
    max-width:300px;  
    top:85%;
    -webkit-box-shadow: 0 30px 12px rgba(0,0,0,.5); 
    -moz-box-shadow: 0 30px 12px rgba(0,0,0,.5);   
    box-shadow: 0 30px 12px rgba(0,0,0,.5);  

    -webkit-transform: rotate(-8deg); 
    -moz-transform: rotate(-8deg); 
    -o-transform: rotate(-8deg); 
    transform: rotate(-8deg);  
}  
.box-shadow-2:hover::after  
{ 
    -webkit-transform: rotate(8deg);  
    -moz-transform: rotate(8deg);  
    -o-transform: rotate(8deg);   
    transform: rotate(8deg);  
    right: 8px;  
    left: auto;  
}  


/*
 * 叠加相片册效果
 */
.box-adorn:before,.box-adorn:after{  
    content: '';  
    width: 98%;  
    height: 98%;  
    position: absolute;  
    bottom: 0;  
    right: 0;  
    background: #fff;  
    border: 1px solid #ccc;  
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);  
}  
.box-adorn:before{  
    z-index: 2;  
    -webkit-transform: skew(2deg,1deg) translate(-1px,0px);  
    -moz-transform: skew(2deg,1deg) translate(-1px,0px);  
    -o-transform: skew(2deg,1deg) translate(-1px,0px);  
    transform: skew(2deg,1deg) translate(-1px,0px);  
}  
.box-adorn:after{  
    z-index: 1;  
    -webkit-transform: skew(2deg,1deg) translate(3px,3px);
    -moz-transform: skew(2deg,1deg) translate(3px,3px);
    -o-transform: skew(2deg,1deg) translate(3px,3px);
    transform: skew(2deg,1deg) translate(3px,3px);  
}  

/*
 * 美化字体间隔
 */

.spacing-tiny {
    text-indent: .03em;
    letter-spacing: .03em;
}
.spacing-small {
    text-indent: .1em;
    letter-spacing: .1em;
}
.spacing-medium {
    text-indent: .3em;
    letter-spacing: .3em;
}
.spacing-large {
    text-indent: .8em;
    letter-spacing: .8em;
}

/*字体图标*/
.icon-tiny {
    font-size: 14px;
}
.icon-small {
    font-size: 19px;
}
.icon-medium {
    font-size: 22px;
}
.icon-large {
    font-size: 28px;
}

/*
 * 对齐及浮动
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

.top,
.left,
.bottom,
.right{
    position: absolute;
} 
.top{
    top: 0;
}
.left{
    left: 0;
}
.bottom{
    left: 0;
}
.right{
    right: 0;
}

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

/*
 * 内联a标签填充
 */
.tap-link{
    display: inline-block;
}

/*
 * 垂直布局 和 完全居中布局
 */
.vertical-layout{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.complete-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*
 * 启用硬件加速
 */
.will-accelerate{
    /*提醒浏览器提前准备硬件加速,兼容性不行*/
    will-change: transform;
    /*触发硬件加速 CPU 转 GPU*/
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*
 * 禁止用户选中文字
 */
.user-unselect{
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

/*
 * 调整以下元素使他们之间的差距减小，
 * audio、canvas、iframes、images、videos和底部的容器。
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * 删除默认控件组风格。
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * 只允许垂直方向的textarea的调整。
 */

textarea {
    resize: vertical;
}

/*
 * DOM元素的显隐
 */

.domShow{
    display: block;
}
.domHide{
    display: none;
}

/* ==========================================================================
   浏览器升级提示 的样式
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #313536;
    padding: 0.2em 0;
}

/* ==========================================================================
   熊猫旅行网站的主要样式
   ========================================================================== */

html {
    display: block;
    font-size: 12px;
    color: #313536;
}

body {
    font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
    display: block;
    overflow: hidden;
    overflow-y: scroll; 
    border: 0;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

a{
    color: inherit;
    text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    display: block;
}
button{
    cursor: pointer;
}
button,input{ 
    outline: none; 
}
ul,li{
    margin: 0; 
    padding: 0; 
    list-style: none;
}
section,div,span,em,i,p,h1,h2,h3,h4,h5,h6{
    cursor: default;
}
a,a *{
    cursor: pointer;
}
em,i{
    font-style: normal;
}

html,body{
    -webkit-transition: scrollTop .5s cubic-bezier(.44,.61,0,.97);
    -moz-transition: scrollTop .5s cubic-bezier(.44,.61,0,.97); 
    -ms-transition: scrollTop .5s cubic-bezier(.44,.61,0,.97); 
    -o-transition: scrollTop .5s cubic-bezier(.44,.61,0,.97); 
    transition: scrollTop .5s cubic-bezier(.44,.61,0,.97); 
}

.imgWrap img{
    width: 100%;
    height: 100%;
}
.unit-money::before{
    content: "￥";
    font-size: .8em;
}

/*悬浮导航*/
#suspensionNav{
    height: 350px;
    width: 44px;
    position: fixed;
    left: 0;
    right: 1264px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
    display: none;
}
#suspensionNav li{
    display: block;
    width: 44px;
    height: 44px;
    color: #313536;
    position: relative;
    -webkit-perspective:500px;
    -moz-perspective:500px;
    -ms-perspective:500px;
    -o-perspective:500px;
    perspective:500px;
}
#suspensionNav li:not(:last-child){
    display: block;
    width: 44px;
    height: 44px;
    margin-bottom: 7px;
}
#suspensionNav li a{
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    -webkit-transform-style:preserve-3d; 
    -moz-transform-style:preserve-3d;
    transform-style:preserve-3d; 

    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .2s linear; 

    -webkit-transform-origin:center center -22px;
    -moz-transform-origin:center center -22px;
    transform-origin:center center -22px;

    -webkit-transform:rotateY(90deg);
    -moz-transform:rotateY(90deg);
    transform:rotateY(90deg);
}
#suspensionNav li > *{
    /*隐藏3D元素的背面*/
    -webkit-backface-visibility:hidden;
    backface-visibility: hidden;
}
#suspensionNav li .positive{
    display: block;
    width: 44px;
    height: 44px;
    line-height: 43px;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.25);
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    background: #fff;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    -webkit-transform-origin:right;
    -moz-transform-origin:right;
    transform-origin:right;
    
    -webkit-transform:rotateY(-90deg) translateZ(44px);
    -moz-transform:rotateY(-90deg) translateZ(44px);
    transform:rotateY(-90deg) translateZ(44px);
}
#suspensionNav li .positive i{
    font-size: 28px;
    color: #959595;
}

#suspensionNav li .subtitle{
    display: block;
    width: 40px;
    height: 36px;
    line-height: 18px;
    padding: 4px 0 4px 4px;
    text-align: center;
    background: #33bb99;
    color: #fff;
    font-weight: 400px;
    letter-spacing: 4px;
    font-family: "宋体",Arial,'Microsoft Yahei';
    text-shadow: 1px 1px 2px rgba(0,0,0,.35);
    position: absolute;
    right: 0;
    -webkit-transform-origin:left;
    -moz-transform-origin:left;
    transform-origin:left;
    
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    transform:rotateY(0deg);
    
}
/*背景色区分*/
#suspensionNav li[data-box='limit-discounts'] .subtitle{
    background: #ee5566;
}
#suspensionNav li[data-box='must-see'] .subtitle{
    background: #33bb99;
}
#suspensionNav li[data-box='popular-around'] .subtitle{
    background: #3baeda;
}
#suspensionNav li[data-box='local-hotel'] .subtitle{
    background: #fdb02b;
}
#suspensionNav li[data-box='domestic-travel'] .subtitle{
    background: #8dce48;
}
#suspensionNav li[data-box='cool-car'] .subtitle{
    background: #3b68bf;
}
#suspensionNav li[data-box='private-guide'] .subtitle{
    background: #d03aff;
}

#suspensionNav li .positive i[data-box='limit-discounts']{
    color: #f32;
}
#suspensionNav li.active a,
#suspensionNav li:hover a{
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    transform:rotateY(0deg);

    -webkit-transition: all .5s cubic-bezier(.44,.61,0,.97);
    -moz-transition: all .5s cubic-bezier(.44,.61,0,.97);
    transition: all .5s cubic-bezier(.44,.61,0,.97); 
}
#suspensionNav li:hover .positive{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-transition: -webkit-box-shadow .25s linear;
    -moz-transition: -moz-box-shadow .25s linear;
    transition: box-shadow .25s linear; 
}


.w1200-box{
    position: relative;
    width: 100%;
}
.w1200{
    min-width: 1200px;
    width: 1200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*主要内容*/
#main-content{
    display: block;
}
.main-panel{
    display: block;
}
.header-panel{
    display: block;
}

/*顶部信息*/
.header-top{
    font-family: "宋体",Arial,'Microsoft Yahei';
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 12px;
}
.top-login,
.top-support{
    display: block;
    color: #777;
    letter-spacing: .1em;
    text-indent: .1em;
    font-size: 13px;
    cursor: default;
}
.top-login > *{
    display: inline-block;
    margin-right: 12px;
}
.link-login a{
    margin-right: 12px;
}
.sentence{
    color: #a5a5a5;
    cursor: default;
}
.link-login{
    display: inline-block;
    margin-right: 12px;
}

/*顶部功能支持*/
.top-support{
    z-index: 99;
    position: absolute;
}
.link-support .link-item{
    display: inline-block;
    position: relative;
    margin-right: -4px;
}
.link-support .link-item .subtitle{
    position: relative;
    text-align: center;
    padding-left: 6px;
    cursor: pointer;
}
.link-item .subtitle i:last-child{
    display: inline-block;
    -webkit-transform-origin: center 47.5%;
    -moz-transform-origin: center 47.5%;
    -o-transform-origin: center 47.5%;
    transform-origin: center 47.5%;

    -webkit-transition: -webkit-transform .18s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .18s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .18s cubic-bezier(.05,.2,.6,1);
    transition: transform .18s cubic-bezier(.05,.2,.6,1);
}
.link-support .link-item .st_width01{
    width: 80px;
}
.link-support .link-item .st_width02{
    width: 96px;
}
.link-support .link-item .st_width03{
    width: 52px;
}

.link-support .link-item .float_box{
    display: none;
    z-index: 99;
}

/*顶部功能内容一*/
.link-support .link-item .f_box01{
    width: 78px;
    min-height: 25px;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 4px;
    text-align: left;
    background-color: #fff;
}
.link-support .link-item .f_box01 li{
    height: 26px;
    line-height: 26px;
    padding-left: 4px;
}
.link-support .link-item .f_box01 li a{
    color: #777;
    display: block;
}
.link-support .link-item .f_box01 li:not(:last-child){
    margin-bottom: 2px;
}
.link-support .link-item .f_box01 li:hover{
    background: rgba(40,144,46,.08);
}
.link-support .link-item .f_box01 li:active{
    background: rgba(40,144,46,.12);
}
.link-support .link-item .f_box01 li:active a{
    color: #313536;
}

/*顶部功能内容二*/
.link-support .link-item .f_box02{
    width: 300px;
    height: 130px;
    position: absolute;
    top: 30px;
    right: 0;
    text-align: left;
    background-color: #fff;
}
.link-support .f_box02 .f_box_info{
    width: 155px;
    height: 90px;
    left: 18px;
}
.link-support .f_box02 .f_box_info h4{
    line-height: 32px;
    height: 32px;
    margin-top: 5px;
    color: #fb3e3e;
    font-size: 13px;
    font-weight: 700;
}
.link-support .f_box02 .f_box_info p.info{
    line-height: 22px;
    padding-left: 4px;
}
.link-support .f_box02 .imgWrap{
    width: 108px;
    height: 108px;
    right: 10px;
}

/*顶部功能内容三*/
.link-support .link-item .f_box03{
    width: 250px;
    min-height: 40px;
    position: absolute;
    top: 30px;
    right: 0;
    padding: 8px 10px;
    text-align: left;
    background-color: #fff;
}
.link-support .f_box03 p{
    line-height: 24px;
}
.link-support .f_box03 p span::after{
    content: "：";
}
.link-support .f_box03 p em{
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #fb3e3e;
}

/*相应用户悬浮及其他操作*/
.link-support .link-item:hover .float_box{
    display: block;
}
.link-support .link-item:hover .subtitle,
.link-support .link-item:hover .float_box{
    box-shadow: 0 0 10px rgba(0,0,0,.35);
    background: #fff;
}
.link-item:hover .subtitle i:last-child{
    display: inline-block;
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    -webkit-transition: -webkit-transform .25s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .25s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .25s cubic-bezier(.05,.2,.6,1);
    transition: transform .25s cubic-bezier(.05,.2,.6,1);
}
.link-support .link-item:hover .float_box::after{
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    top: -6px;
    right: 0;
    background: #fff;
}
.link-support .link-item:hover .float_box::before{
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    z-index: 1;
    top: -1px;
    right: 0;
    background: #e2e2e2;
}
.link-support .link-item:hover .f_box_width01::after,
.link-support .link-item:hover .f_box_width01::before{
    width: 86px;
}
.link-support .link-item:hover .f_box_width02::after,
.link-support .link-item:hover .f_box_width02::before{
    width: 102px;
}
.link-support .link-item:hover .f_box_width03::after,
.link-support .link-item:hover .f_box_width03::before{
    width: 58px;
}



/*顶部主要内容*/
.header-main{
    display: block;
    height: 144px;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #349039;
}

/*头部容器*/
.head-wrap{
    height: 100px;
    position: relative;
}
.logo-wrap{
    width: 250px;
    height: 88px;
}

/*顶部搜索条*/
.head-search{
    width: 460px;
    height: 38px;
    border: 1px solid #313536;
    color: #313536;
}
.head-search .dropdown-menu{
    width: 98px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
}
.head-search .dropdown-menu >*{
    cursor: pointer;
}
.dropdown-surface,
.dropdown-surface > *{
    cursor: pointer;
}
.dropdown-menu .dropdown-surface{
    position: relative;
    display: block;
    height: 100%;
    padding-left: 5px; 
    text-align: center;
}
.dropdown-surface em{
    font-size: 15px;
    padding-right: 12px;
}
.dropdown-surface i{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 20px;
    display: inline-block;
    font-size: 20px;
    -webkit-transform-origin: center 47.5%;
    -moz-transform-origin: center 47.5%;
    -o-transform-origin: center 47.5%;
    transform-origin: center 47.5%;

    -webkit-transition: -webkit-transform .18s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .18s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .18s cubic-bezier(.05,.2,.6,1);
    transition: transform .18s cubic-bezier(.05,.2,.6,1);
}
.dropdown-surface i.active{
    -webkit-transform: rotateZ(-180deg);
    -moz-transform: rotateZ(-180deg);
    -o-transform: rotateZ(-180deg);
    transform: rotateZ(-180deg);
    -webkit-transition: -webkit-transform .25s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .25s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .25s cubic-bezier(.05,.2,.6,1);
    transition: transform .25s cubic-bezier(.05,.2,.6,1);
}
.dropdown-menu .dropdowm-entity{
    width: 240px;
    position: absolute;
    top: 52px;
    z-index: 99;
    background-color: #fff;
    border: 1px solid #313536;
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 12px rgba(0,0,0,.5);
    box-shadow: 2px 2px 12px rgba(0,0,0,.5);
    border-radius: 0 0 12px 12px;
    cursor: default;
    display: none;
}
.dropdowm-entity ul{
    padding: 8px;
    color: #313536;
    cursor: default;
}
.dropdowm-entity ul li{
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    letter-spacing: 4px;
    font-size: 14px;
    cursor: pointer;
}
.dropdowm-entity ul li:hover{
    background-color: rgba(40,144,46,.08);   
}
.dropdowm-entity ul li:active{
    background-color: rgba(40,144,46,.10);
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.03);
    -moz-box-shadow: inset 0 0 15px rgba(0,0,0,.03);   
    box-shadow: inset 0 0 15px rgba(0,0,0,.03);
}
.dropdowm-entity ul li:not(:last-child){
    margin-bottom: 5px;
}
.head-search input[type='text']{
    width: 295px;
    height: 35px;
    line-height: 28px;
    right: 49px;
    border: none;
    padding: 0 12px 0 5px;
    color: #313536;
    top: -1px;
    font-size: 13px;
}
.head-search button{
    right: 0;
    border: none;
    width: 48px;
    color: #f5f5f5;
    background-color: #313536;
}

/*服务热线*/
.hotline-wrap{
    width: 180px;
    height: 54px;
    right: 0;
    padding-left: 55px;
}
.hotline-wrap >div{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top: 1px;
    left: 5px;
}
.hotline-wrap >div i{
    font-size: 40px;
    color: #313536;
}
.hotline-wrap p{
    font-family: "宋体",Arial,'Microsoft Yahei';
    margin-top: 2px;
    line-height: 20px;
    font-size: 13px;
    color: #777;
}
.hotline-wrap em{
    line-height: 30px;
    color: #349039;
    font-size: 26px;
}

/*头部导航区*/
.head-navbar{
    height: 44px;
    position: relative;
}

/*定位信息（所属站点）*/
.head-navbar .orientation{
    width: 250px;
    height: 46px;
    line-height: 46px;
    background-color: #313536;
    color: #f5f5f5;
    text-align: center;
    font-size: 16px;
    margin-bottom: -2px;
    cursor: default;
}
.head-navbar .orientation i{
    font-size: 20px;
    position: relative;
    margin-right: 3px;
    top: 2px;
}
.head-navbar .orientation em{
    font-size: 17px;
}

/*导航条容器*/
.head-navbar .navbar-wrap{
    width: 950px;
    height: 44px;
    line-height: 44px;
    left: 250px;
    padding-left: 15px;
    cursor: default;
}
.head-navbar .navbar-wrap li{
    display: inline-block;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
    text-indent: 3px;
    padding: 0 12px;
    position: relative;
}
.head-navbar li.nav-words-2{
    min-width: 58px;
}
.head-navbar li.nav-words-3{
    min-width: 75px;
}
.head-navbar li.nav-words-4{
    min-width: 90px;
}
.head-navbar .navbar-wrap a{
    color: #313536;
    display: block;
}

.head-navbar .navbar-wrap li.active a{
    color: #349039;
}
.head-navbar .navbar-wrap li.active::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 4px solid #349039;
    border-left: 4px solid #349039;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: left bottom;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}
.carousel-panel{
    width: 100%;
    height: 426px;
    overflow: hidden;
    position: relative;
}
#index-carousel .swiper-wrapper{
    height: 426px;
}
#index-carousel .swiper-pagination{
    width: 150px;
    position: absolute;
    right: 0;
    left: 1000px;
    bottom: 0;
    margin: 0 auto;
    height: 32px;
    text-align: right;
    cursor: default;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(0,0,0,.30);
    opacity: 1;
    cursor: pointer;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgba(0,0,0,.55);
}
.carousel-panel .nav-func{
    width: 250px;
    height: 426px;
    position: absolute;
    top: 0;
    left: 0;
    right: 950px;
    margin: 0 auto;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    color: #f5f5f5;
}

/*主导航区*/
.nav-func .main-func{
    width: 71px;
    height: 100%;
}
.main-func li{
    width: 71px;
    height: 71px;
    background: rgba(49,53,54,.6);
    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    transition: background .15s linear;
    position: relative;
}
.main-func li.active{
    background: transparent;
}
.main-func .tap-link{
    display: block;
    height: 100%;
    text-align: center;
}
.main-func .tap-link i,
.main-func .tap-link em{
    display: block;
    width: 100%;
    position: absolute;
}
.main-func .tap-link i{
    top: 14px;
    font-size: 18px;
}
.main-func .tap-link em{
    bottom: 14px;
    font-size: 12px;
}

/*子导航区*/
.nav-func .child-func{
    width: 149px; 
    height: 100%;
    position: absolute;
    left: 86px;
    top: 0;
}
.child-func .func-item{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.child-func .func-item.active{
    display: block;
}
/*每个func-item的高度保证在61px;*/
.child-func .func-item li{
    width: 100%;
    height: 51px;
    position: relative;
    padding-top: 10px;
    cursor: default;
}
/*除了最后一个，过滤选择器*/
.child-func .func-item li:not(:last-child)::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,.45);
    position: absolute;
    bottom: 0;
    left: 0;
}
.child-func .func-item li > *{
    padding: 0 4px;
    cursor: default;
    letter-spacing: .1em;
}
.child-func .func-item h4{
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
}
.child-func .func-item p{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
}
.child-func .func-item a{
    display: inline-block;
    margin-right: 6px;
    letter-spacing: 0.05em;
}

/*首页主要内容面板*/
.content-panel{
    display: block;
    width: 100%;
}

/*动态信息条*/
.content-panel .info-bar{
    height: 45px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}
.content-panel .site-service{
    width: 475px;
    height: 45px;
    position: relative;
}
.content-panel .site-service img{
    width: 475px;
    height: 43px;
    margin-top: 1px;
}
.content-panel .site-activity{
    line-height: 45px;
    color: #fb3e3e;
}
.content-panel .site-activity i{
    display: inline-block;
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    transform: translateY(1px);
}
/*中心内容盒子容器*/
.content-panel .content-box-item{
    height: 3500px;
    margin-bottom: 40px;
}

/*热门推送*/
.content-panel .hot-push{
    width: 100%;
    height: 165px;
    margin: 25px auto;
    position: relative;
    background-color: #fff;

}
.hot-push ul{
    height: 135px;
    position: absolute;
    margin-top: 15px;
    padding-left: 15px; 
}
.hot-push li{
    float: left;
    width: 380px;   
    height: 135px;
    margin-top: 0px;
    position: relative;
    -webkit-transition: -webkit-transform .12s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .12s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .12s cubic-bezier(.05,.2,.6,1);
    transition: transform .12s cubic-bezier(.05,.2,.6,1);
    
}
.hot-push li:hover{
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    transform-origin: center center;

    -webkit-transform: translate3d(0,-2px,0) scale(1.02);
    -moz-transform: translate3d(0,-2px,0) scale(1.02);
    transform: translate3d(0,-2px,0) scale(1.02);

    -webkit-transition: -webkit-transform .18s cubic-bezier(.25,0,.4,.9);
    -moz-transition: -moz-transform .18s cubic-bezier(.25,0,.4,.9);
    -o-transition: -o-transform .18s cubic-bezier(.25,0,.4,.9);
    transition: transform .18s cubic-bezier(.25,0,.4,.9);
}
.hot-push li:not(:last-child){
    margin-right: 15px;
}

/*中心内容盒子容器*/
.content-box-item .content-box{
    height: 300px;
    margin-bottom: 25px;
}

/*当季限时优惠*/
.content-box-item .content-box-1{
    height: 364px;
}
/*box的头部*/
.content-box-item .box-head{
    height: 61px;
    line-height: 64px;
    background-color: #fff;
    position: relative;
    border-bottom: 3px solid #545454;
}
.content-box-item .box-head-1{
    height: 64px;
    border: none;
}
.content-box-item .box-head .h_title > *{
    float: left;
}
.content-box-item .h_title h2{
    font-size: 24px;
    padding-left: 10px;
}
.content-box-item .h_title p.assist{
    margin-left: 6px;
    font-size: 13px;
    color: #777;
    line-height: 28px;
    -webkit-transform: translateY(23px);
    -moz-transform: translateY(23px);
    transform: translateY(23px);
    letter-spacing: 1px;
}
.content-box-item section.count-down{
    height: 64px;
    line-height: 70px;
    width: 280px;
    margin-top: 0;
    margin-left: 10px;
    text-align: left;
    position: relative;
    display: block;
}
.content-box-item section.count-down span:not(:last-child)::after{
    content: ":";
    font-size: 17px;
    font-weight: 700;
    margin: 0 3px;
    font-family: Arial,'Microsoft Yahei';
}
.content-box-item section.count-down em{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #313536;
    color: #f5f5f5;
    font-weight: 700;
    font-size: 18px;
    font-family: "黑体",Arial,'Microsoft Yahei';
}

/*盒子头部导航条*/
.content-box-item .h_navbar{
    width: 850px;
    height: 52px;
    line-height: 49px;
    background: transparent;
    position: absolute;
    left: 275px;
    bottom: 0;
    margin-bottom: -3px;
}
.content-box-item .h_navbar li{
    height: 49px;
    padding: 0 5px;
    position: relative;
    text-align: center;
    border-bottom: 3px solid #545454;
    float: left;
    font-size: 15px;
    letter-spacing: 3px;
    text-indent: 3px;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';
}

.content-box-item .h_navbar li.nav-words-2{
    min-width: 58px;
}
.content-box-item .h_navbar li.nav-words-3{
    min-width: 75px;
}
.content-box-item .h_navbar li.nav-words-4{
    min-width: 90px;
}
.content-box-item .h_navbar li a{
    display: block;
    color: #313536;
    position: relative;
}
.content-box-item .h_navbar li a:hover{
    font-weight: 700;
}
.content-box-item .h_navbar li.active{
    border-bottom: 3px solid #349039;
}
.content-box-item .h_navbar li.active::after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 3px solid #349039;
    border-left: 3px solid #349039;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    transform-origin: left bottom;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/*盒子头部更多*/
.content-box-item a.h_more{
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    letter-spacing: 2px;
    right: 0;
    top: 6px;
    font-size: 14px;
    font-family: "宋体",Arial,'Microsoft Yahei';
    color: #777;
}
.content-box-item a.h_more i.iconfont{
    display: inline-block;
    font-size: 18px;
    color: #349039;
    -webkit-transform: translateY(1.5px);
    -moz-transform: translateY(1.5px);
    transform: translateY(1.5px);
    text-shadow: none;
}
.content-box-item a.h_more:hover{
    color: #313536;
}

/*box的内容*/
.content-box .box-content{
    width: 100%;
    height: 300px;
    position: relative;
    background: #fff;
}
.content-box-1 .box-content{
    height: 300px;
    background: url(../img/discounts_bg.png) 0 0 no-repeat;
}
.box-content.box-type01 ul{
    width: 916px;
    height: 260px;
    right: 22px;
    left: auto;
}
.box-content.box-type01 ul li{
    width: 220px;
    height: 260px;
    float: left;
    background: #fff;
    border-radius: 1px;
    position: relative;
    -webkit-transition: -webkit-transform .05s cubic-bezier(.05,.2,.6,1);
    -moz-transition: -moz-transform .05s cubic-bezier(.05,.2,.6,1);
    -o-transition: -o-transform .05s cubic-bezier(.05,.2,.6,1);
    transition: transform .05s cubic-bezier(.05,.2,.6,1);
}
.box-content.box-type01 ul li:not(:last-child){
    margin-right: 12px;
}
.box-content.box-type01 li >a{
    display: block;
    width: 202px;
    height: 242px;
    padding: 9px;
    background: #fff;
    position: relative;
    z-index: 2;
}

.box-content.box-type01 li .imgWrap{
    width: 202px;
    height: 125px;
}
.box-content.box-type01 .subtitle{
    margin-top: 8px;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "宋体",Arial,'Microsoft Yahei';
    color: #545454;
}
.box-content.box-type01 .b_content{
    width: 202px;
    height: 48px;
    position: absolute;
    bottom: 6px;
    left: 9px;
}
.box-content.box-type01 span.vital{
    position: absolute;
    right: 0;
    color: #fb3e3e;
    font-size: 14px;
    letter-spacing: .05em;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
}
.box-content.box-type01 span.vital em{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 2px;
}
.box-content.box-type01 p.info{
    line-height: 24px;
    color: #777;
    font-size: 13px;
    letter-spacing: 1px;
}
.box-content.box-type01 li:hover{
    -webkit-transform-origin: 80% 20%;
    -moz-transform-origin: 80% 20%;
    transform-origin: 80% 20%;
    perspective: 500;
    -webkit-perspective: 500; /* Safari 和 Chrome */
    -webkit-transform: translate3d(0px,-2px,0) rotateZ(.5deg);
    -moz-transform: translate3d(0px,-2px,0) rotateZ(.5deg);
    transform: translate3d(0px,-2px,0) rotateZ(.5deg);

    -webkit-transition: -webkit-transform .12s cubic-bezier(.25,0,.4,.9);
    -moz-transition: -moz-transform .12s cubic-bezier(.25,0,.4,.9);
    -o-transition: -o-transform .12s cubic-bezier(.25,0,.4,.9);
    transition: transform .12s cubic-bezier(.25,0,.4,.9);
}
.box-content.box-type01 li:hover .subtitle,
.box-content.box-type01 li:hover p.info{
    color: #313536;
    font-weight: 700;
}

/*首页内容侧栏*/
.box-sidebar{
    width: 250px;
    height: 100%;
    position: relative;
}
.box-sidebar ul{
    width: 204px;
    height: 150px;
    top: 50px;
    bottom: auto;
}
.box-sidebar ul li{
    width: 95px;
    height: 34px;
    line-height: 34px;
    background: #313536;
    color: #f5f5f5;
    text-align: center;
    border-radius: 17px;
    font-size: 14px;
    letter-spacing: 4px;
    text-indent: 4px;
    margin-bottom: 22px;
    float: left;
}
.box-sidebar ul li:not(:nth-child(2n+1)){
    margin-left: 14px;
    border-radius: 17px;
}
.box-sidebar ul li a{
    display: block;
}

/*首页内容的主要部分布局*/
.box-info{
    width: 950px;
    height: 480px;
    position: absolute;
}
.box-layout{
    width: 914px;
    height: 446px;
}
.box-layout li{
    width: 294px;
    height: 215px;
    float: left;
    margin-bottom: 16px;
    position: relative;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.12);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,.12);
    box-shadow: 0 0 15px rgba(0,0,0,.12);
}
.box-layout li:not(:nth-child(3n+3)){
    margin-right: 16px;
}
.box-layout li a{
    display: block;
    width: 100%;
    height: 100%;
}
.box-layout .imgWrap{
    width: 294px;
    height: 180px;
}
.box-layout .b_content{
    position: relative;
}
.box-layout h4.subtitle{
    padding: 0 10px;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "宋体",Arial,'Microsoft Yahei';
    color: #545454;
}
.box-layout p.info{
    padding-left: 10px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #545454;
    font-family: "宋体",Arial,'Microsoft Yahei';
}
.box-layout span.vital{
    position: absolute;
    right: 10px;
    color: #fb3e3e;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    letter-spacing: .05em;
}
.box-layout span.vital em{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 2px;
}

.box-layout li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}
.box-layout li:hover h4.subtitle{
    font-weight: 700;
}
.box-layout li:hover h4.subtitle,
.box-layout li:hover p.info{
    color: #313536;
}

/*必游景点*/  
.content-box-item .content-box-2{
    height: 544px;
}
.content-box-2 .box-content{
    height: 480px;
}
.content-box-2 .box-sidebar{
    position: absolute;
    left: 0;
    background: url(../img/must-see_bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.content-box-2 .box-sidebar li{
    background: #33bb99;
}
.content-box-2 .box-sidebar li:hover{
    background: #24af8c;
}
/*中心布局*/
.content-box-2 .box-info{
    height: 480px;
}
.content-box-2 .box-layout{
    height: 446px;
}
.content-box-2 .box-layout li{
    height: 215px;
}
.content-box-2 .box-layout .imgWrap{
    height: 167px;
}
.content-box-2 .box-layout .b_content{
    height: 48px;
    line-height: 48px;
}
.content-box-2 .box-layout p.info{
    height: 48px;
    line-height: 48px;
}
.content-box-2 .box-layout span.vital{
    top: 0;
}


/*更换 必游景点 内的 box-head部分样式*/
.content-box-2 .h_navbar li.active{
    border-bottom: 3px solid #33bb99;
}
.content-box-2 .h_navbar li.active::after{
    border-top: 3px solid #33bb99;
    border-left: 3px solid #33bb99;
}
.content-box-2 a.h_more i.iconfont{
    color: #33bb99;
}

/*热门周边*/  
.content-box-item .content-box-3{
    height: 644px;
}
.content-box-3 .box-content{
    height: 580px;
}
.content-box-3 .box-sidebar{
    position: absolute;
    left: 0;
    background: url(../img/popular-around_bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.content-box-3 .box-sidebar li{
    background: #3baeda;
}
.content-box-3 .box-sidebar li:hover{
    background: #2ca1ce;
}

/*中心布局*/
.content-box-3 .box-info{
    height: 580px;
}
.content-box-3 .box-layout{
    height: 546px;
}
.content-box-3 .box-layout li{
    height: 265px;
}
.content-box-3 .box-layout .imgWrap{
    height: 170px;
}
.content-box-3 .box-layout .b_content{
    height: 85px;
    padding-top: 10px;
}
.content-box-3 .box-layout h4.subtitle{
    line-height: 22px;
    height: 44px;
    overflow: hidden;
}
.content-box-3 .box-layout p.info{
    margin-top: 3px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    color: #959595;
}
.content-box-3 .box-layout span.vital{
    bottom: 3px;
    height: 38px;
    line-height: 38px;
}
.content-box-3 .box-layout li:hover p.info{
    color: #545454;
}



/*更换 热门周边 内的 box-head部分样式*/
.content-box-3 .h_navbar li.active{
    border-bottom: 3px solid #3baeda;
}
.content-box-3 .h_navbar li.active::after{
    border-top: 3px solid #3baeda;
    border-left: 3px solid #3baeda;
}
.content-box-3 a.h_more i.iconfont{
    color: #3baeda;
}


/*当地酒店*/
.content-box-item .content-box-4{
    height: 544px;
}
.content-box-4 .box-content{
    height: 480px;
}
.content-box-4 .box-sidebar{
    position: absolute;
    left: 0;
    background: url(../img/local-hotel_bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.content-box-4 .box-sidebar li{
    background: #fdb02b;
}
.content-box-4 .box-sidebar li:hover{
    background: #eca01b;
}
/*中心布局*/
.content-box-4 .box-info{
    height: 480px;
}
.content-box-4 .box-layout{
    height: 446px;
}
.content-box-4 .box-layout li{
    height: 215px;
}
.content-box-4 .box-layout .imgWrap{
    height: 167px;
}
.content-box-4 .box-layout .b_content{
    height: 48px;
    line-height: 48px;
}
.content-box-4 .box-layout p.info{
    height: 48px;
    line-height: 48px;
    font-size: 13px;
}
.content-box-4 .box-layout span.vital{
    top: 0;
}

/*更换 当地酒店 内的 box-head部分样式*/
.content-box-4 .h_navbar li.active{
    border-bottom: 3px solid #f4bc43;
}
.content-box-4 .h_navbar li.active::after{
    border-top: 3px solid #f4bc43;
    border-left: 3px solid #f4bc43;
}
.content-box-4 a.h_more i.iconfont{
    color: #f4bc43;
}

/*国内游*/
.content-box-item .content-box-5{
    height: 644px;
}
.content-box-5 .box-content{
    height: 580px;
}
.content-box-5 .box-sidebar{
    position: absolute;
    left: 0;
    background: url(../img/domestic-travel_bg.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.content-box-5 .box-sidebar li{
    background: #8dce48;
}
.content-box-5 .box-sidebar li:hover{
    background: #80c13a;
}

/*中心布局*/
.content-box-5 .box-info{
    height: 580px;
}
.content-box-5 .box-layout{
    height: 546px;
}
.content-box-5 .box-layout li{
    height: 265px;
}
.content-box-5 .box-layout .imgWrap{
    height: 170px;
}
.content-box-5 .box-layout .b_content{
    height: 85px;
    padding-top: 10px;
}
.content-box-5 .box-layout h4.subtitle{
    line-height: 22px;
    height: 44px;
    overflow: hidden;
}
.content-box-5 .box-layout p.info{
    margin-top: 3px;
    height: 38px;
    line-height: 38px;
    font-size: 13px;
    color: #959595;
}
.content-box-5 .box-layout span.vital{
    bottom: 3px;
    height: 38px;
    line-height: 38px;
}
.content-box-5 .box-layout li:hover p.info{
    color: #545454;
}

/*更换 国内游 内的 box-head部分样式*/
.content-box-5 .h_navbar li.active{
    border-bottom: 3px solid #8ac050;
}
.content-box-5 .h_navbar li.active::after{
    border-top: 3px solid #8ac050;
    border-left: 3px solid #8ac050;
}
.content-box-5 a.h_more i.iconfont{
    color: #8ac050;
}

/*首页盒子分栏*/
.content-box-item .box-flex-3{
    width: 100%;
    position: relative;
}
.box-flex-3 .content-box{
    float: left;
    width: 388px;
    height: 404px;
    margin-bottom: 0;
}
.box-flex-3 .content-box:not(:last-child){
    margin-right: 18px;
}
.box-flex-3 .content-box .box-content{
    height: 340px;
    position: relative;
}
/*炫酷车型*/
.content-box-6 .box-layout-1{
    width: 358px;
    height: 310px;
    box-shadow: 0 0 15px rgba(0,0,0,.12);
}
.content-box-6 .box-layout-1:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}
.content-box-6 .imgWrap{
    width: 358px;
    height: 220px;
}
.content-box-6 .b_content{
    width: 358px;
    height: 90px;
    position: relative;   
}
.content-box-6 .b_content div.info{
    width: 178px;
    height: 68px;
    margin-top: 14px;
    padding-left: 15px;
    position: relative;
}
.content-box-6 div.info .subtitle{
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 14px;
    color: #545454;
    font-family: "宋体",Arial,'Microsoft Yahei';
}

.content-box-6 div.info span.vital{
    position: absolute;
    left: 10px;
    color: #fb3e3e;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: .05em;
}
.content-box-6 div.info span.vital em{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 2px;
}
.content-box-6 .b_content button{
    width: 142px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    background: #33bb99;
    border: none;
    right: 18px;
    color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font-size: 16px;

}
.content-box-6 .b_content button:hover{
    background: #24af8c;
}
.content-box-6 .box-layout-1:hover .subtitle{
    color: #313536;
}


/*私人导游*/
.content-box-7 .box-layout-2{
    width: 358px;
    height: 310px;
}
.box-layout-2 .part_top{
    height: 225px;
}
.box-layout-2 .p_box_list li{
    position: relative;
    height: 106px;
    box-shadow: 0 0 15px rgba(0,0,0,.12);
}
.box-layout-2 .p_box_list li:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}
.box-layout-2 .p_box_list li:not(:last-child){
    margin-bottom: 13px; 
}
.box-layout-2 .p_box_list li .imgWrap{
    width: 158px;
    height: 100%;
}
.box-layout-2 .p_box_list .p_content{
    width: 180px;
    height: 100%;
    right: 10px;
}
.box-layout-2 .p_box_list .p_content h4{
    margin-top: 4px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    letter-spacing: 1px;
    font-size: 14px;
    color: #545454;
    font-family: "宋体",Arial,'Microsoft Yahei';
}
.box-layout-2 .p_box_list h4 em{
    margin-left: 5px; 
}
.box-layout-2 .p_box_list .p_content .subtitle{
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    font-size: 13px;
    color: #777;
    letter-spacing: 1px;
}
.box-layout-2 .p_box_list .vital{
    position: absolute;
    left: 0;
    bottom: 7px;
    color: #fb3e3e;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    letter-spacing: .05em;
}
.box-layout-2 .p_box_list .vital em{
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 2px;
}
.box-layout-2 .p_box_list li:hover h4,
.box-layout-2 .p_box_list li:hover .subtitle{
    color: #313536;
}

.box-layout-2 .part_bottom{
    margin-top: 15px;
    height: 70px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,.12);
}
.box-layout-2 .part_bottom:hover{
    box-shadow: 0 0 20px rgba(0,0,0,.35);
}
.box-layout-2 .part_bottom .caption{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 21px;
    font-size: 17px;
    letter-spacing: 3px;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';
    left: 12px;
}
.box-layout-2 .p_icon_list{
    width: 298px;
    height: 100%;
    right: 0;   
}
.box-layout-2 .p_icon_list li{
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    position: relative;
}

.box-layout-2 .p_icon_list li:not(:last-child){
    margin-right: 9px;
}
.box-layout-2 .p_icon_list li img{
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-transition: -webkit-transform .6s cubic-bezier(.05,.2,.6,1),all .4s linear;
    -moz-transition: -moz-transform .6s cubic-bezier(.05,.2,.6,1),all .4s linear;
    -o-transition: -o-transform .6s cubic-bezier(.05,.2,.6,1),all .4s linear;
    transition: -ms-transform .6s cubic-bezier(.05,.2,.6,1),all .4s linear;
}
.box-layout-2 .p_icon_list li:hover img{
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);

    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;

    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.35);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.35);
    box-shadow: 3px 3px 3px rgba(0,0,0,.35);

    -webkit-transition: -webkit-transform .8s cubic-bezier(.0,.4,.6,1) 0,all .5s linear .3s;
    -moz-transition: -moz-transform .8s cubic-bezier(.0,.4,.6,1) 0,all .5s linear .3s;
    -o-transition: -o-transform .8s cubic-bezier(.0,.4,.6,1) 0,all .5s linear .3s;
    transition: -ms-transform .8s cubic-bezier(.0,.4,.6,1) 0,all .5s linear .3s;
}

/*特色美食*/
.content-box-8 .imgWrap{
    width: 388px;
    height: 340px;
}


/*底部面板*/
.footer-panel{
    background-color: #fff;
    height: 570px;
    width: 100%;
    z-index: 99;
}
/*底部内容*/
.foot-content{
    width: 100%;
    height: 370px;
    border-top: 1px solid #e2e2e2;
    background: #fff;
}
/*底部服务支持*/
.foot-content .service-support{
    width: 1200px;
    height: 120px;
    border-bottom: 1px solid #e2e2e2;
}
/*底部站点信息*/
.foot-content .website-info{
    width: 1200px;
    height: 250px;
    position: relative;
}
.foot-content p.info{
    text-align: center;
    line-height: 20px;
    color: #777;
    font-family: "宋体",Arial,'Microsoft Yahei';
}
/*关注我们*/
.website-info .focus{
    width: 250px;
    height: 250px;
}
.focus .logo-wrap{
    width: 250px;
    height: 88px;
    margin-top: 25px; 
}
.focus p.info{
    font-size: 16px;
    font-weight: 600;
    cursor: default;
    color: #545454;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';
}
.focus .focus-way{
    width: 247px;
    height: 44px;
    line-height: 44px;
    margin-top: 12px;
    padding-left: 3px;
    text-align: center;
}
.focus .focus-way a{
    display: inline-block;
    letter-spacing: .35em;
    text-indent: .35em;
}
.focus .focus-way i{
    font-size: 38px;
}
.sina-weibo i{
    color: #fb3e3e;
}
.wechat i{
    color: #74bb12;
}

/*站点链接*/
.website-info .link-items{
    width: 775px;
    left: 250px;
}
.link-items .links-wrap{
    width: 720px;
    height: 170px;
    left: 30px;
}
.link-items .links-wrap >li{
    width: 185px;
    float: left;
    height: 100%;
    position: relative;
}
.link-items .links-wrap >li:not(:last-child){
    margin-right: 15px;
}
.link-items .links-wrap >li.reduced{
    width: 120px;
}
.link-items .links-wrap >li.extended{
    width: 250px;
}
.links-wrap >li h3{
    line-height: 32px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: .25em;
    color: #545454;
    cursor: default;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';
}
.link-items .child-links{
    letter-spacing: .15em;
    line-height: 28px;
    color: #777;
    padding-left: 2px;
}
.link-items .child-links a:hover{
    color: #545454;
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
.links-wrap >li p.explain{
    letter-spacing: .15em;
    line-height: 28px;
    height: 56px;
    max-height: 84px;
    overflow: hidden;
    color: #777;
    padding-left: 2px;
    cursor: default;
}
.links-wrap .link-box{
    width: 100%;
    height: 28px;
    letter-spacing: .15em;
    line-height: 28px;
    margin-top: 5px;
}
.links-wrap .link-box a{
    color: #777;
    font-size: 14px;
    margin-right: 5px;
    font-family: "黑体","宋体",Arial,'Microsoft Yahei';
}
.links-wrap .link-box a:hover{
    color: #545454;
    display: inline-block;
    position: relative;
    font-weight: 600;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    transform-origin: right center;

    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

/*扫码下载*/
.website-info .download{
    width: 175px;
    height: 250px;
}
.download .code-wrap{
    width: 115px;
    height: 115px;
    background-color: #fff;
    border: 1px solid #e2e2e2;  
    border-radius: 3px; 
    margin: 55px auto 8px auto;
}
.download .code-wrap img{
    width: 100%;
    height: 100%;
    border-radius: 3px; 
}


/*底部版权支持*/
.foot-copyrigh{
    height: 200px;
    background: #313536;
}
.foot-copyrigh .license{
    width: 680px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 22px 0;
}
.license li{
    display: inline-block;
    width: 120px;
    height: 52px;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 11px;
}
.license li img{
    height: 100%;
    height: 100%;
    border-radius: 6px;
}

.foot-copyrigh .copyrigh p{
    color: #d2d2d2;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: .08em;
    text-indent: .08em;
    cursor: default;
}

.foot-copyrigh .copyrigh em{
    margin: 0 5px;
}









/* ==========================================================================
   辅助类
   ========================================================================== */

/*
 * 在视觉上和屏幕阅读器中隐藏元素
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

